In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import pandas as pd

In [32]:
df_credit = pd.read_csv('./german_credit_data.csv', index_col=0)
df_credit.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,49,male,1,own,little,NaN,2096,12,education,good
3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,53,male,2,free,little,little,4870,24,car,bad

In [33]:
label = preprocessing.LabelEncoder()
df_credit['sex_code'] = label.fit_transform(df_credit.Sex)
df_credit['housing_code'] = label.fit_transform(df_credit.Housing)
df_credit['savings_acc'] = label.fit_transform(df_credit['Saving accounts'])
df_credit['checking_acc'] = label.fit_transform(df_credit['Credit amount'])
df_credit['risk_code'] = label.fit_transform(df_credit['Risk'])
df_credit['purpose_code'] = label.fit_transform(df_credit['Purpose'])
df_credit.head()

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk,sex_code,housing_code,savings_acc,checking_acc,risk_code,purpose_code
0,67,male,2,own,NaN,little,1169,6,radio/TV,good,1,1,4,142,1,5
1,22,female,2,own,little,moderate,5951,48,radio/TV,bad,0,1,0,770,0,5
2,49,male,1,own,little,NaN,2096,12,education,good,1,1,0,390,1,3
3,45,male,2,free,little,little,7882,42,furniture/equipment,good,1,0,0,848,1,4
4,53,male,2,free,little,little,4870,24,car,bad,1,0,0,734,0,1

In [36]:
x = df_credit.drop(['Sex', 'Housing', 'Saving accounts', 'Checking account', 'Purpose', 'Risk', 'risk_code'], axis=1)
y = df_credit['risk_code']

In [37]:
x

,Age,Job,Credit amount,Duration,sex_code,housing_code,savings_acc,checking_acc,purpose_code
0,67,2,1169,6,1,1,4,142,5
1,22,2,5951,48,0,1,0,770,5
2,49,1,2096,12,1,1,0,390,3
3,45,2,7882,42,1,0,0,848,4
4,53,2,4870,24,1,0,0,734,1
...,...,...,...,...,...,...,...,...,...
995,31,1,1736,12,0,1,0,310,4
996,40,3,3857,30,1,1,0,661,1
997,38,2,804,12,1,1,0,69,5
998,23,2,1845,45,1,0,0,332,5
999,27,2,4576,45,1,1,1,711,1

In [38]:
y

0      1
1      0
2      1
3      1
4      0
      ..
995    1
996    1
997    1
998    0
999    1
Name: risk_code, Length: 1000, dtype: int64

In [39]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [41]:
clf = LogisticRegression(random_state=42, tol=1e-5)
clf.fit(x_train, y_train)

/Users/kangwei/opt/anaconda3/envs/py38/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=42, tol=1e-05)

In [43]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
predicted = clf.predict(x_test)
result = confusion_matrix(y_test, predicted)
print(result)
accuracy = accuracy_score(y_test, predicted)
print("accuracy score: " + accuracy.astype(str))
report = classification_report(y_test, predicted)
print(report)

[[ 13  59]
 [  4 174]]
accuracy score: 0.748
              precision    recall  f1-score   support

           0       0.76      0.18      0.29        72
           1       0.75      0.98      0.85       178

    accuracy                           0.75       250
   macro avg       0.76      0.58      0.57       250
weighted avg       0.75      0.75      0.69       250